////////////////////////////////////////////////////
// colors scss
////////////////////////////////////////////////////

$white: #fff;

$common-point: #f68341;
$common-point-thin: #ffcdaf;

$bg-gray: #eee;
$bg-brawn: #f7f3e8;

$font-default: #333;
$font-thin: #666;
$font-gray: #999;

$border-default: #eee;
$border-dotted: #ccc;

