////////////////////////////////////////////////////
// layout scss
////////////////////////////////////////////////////

@import 'mixins';
@import 'colors';

/* base */

html {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: $white;
  color: $font-default;
  font-family: "Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3","Lucida Grande",Meiryo,"メイリオ","ＭＳ Ｐゴシック",sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 0px;
  padding: 0px;
}

ul, li {
  margin: 0px;
  padding: 0px;
  list-style: outside none none;
}

a {
  color: #000;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

/* content */

#wrapper {
  min-height: 560px;
  padding-top: 50px;
}

