<div id="main-content">
  <div class="content-area article-list">
    <div class="article-list-content">
      <a href="/articles/1111">
        <div class="article-list-thumb"><img src="https://image-kinarino.ssl.k-img.com/system/press_eye_catches/000/016/056/0634af514145ef8d16143be2d283bf4e4c222dc0.jpg?1440730720" alt="title"></div>
        <div class="article-list-text">
          <h3 class="article-list-title">マナーを守っておしゃれに祝福！結婚式の“お呼ばれ服”正解コデ</h3>
          <p class="article-list-user">aaaa</p>
        </div>
      </a>
    </div>

    <div class="article-list-content">
      <a href="/articles/1111">
        <div class="article-list-thumb"><img src="https://image-kinarino.ssl.k-img.com/system/press_eye_catches/000/015/851/fa6347d8bdef768c4401e381470afd6e40d0ba1b.jpg?1440382721" alt="title"></div>
        <div class="article-list-text">
          <h3 class="article-list-title">マナーを守っておしゃれに祝福！結婚式の“お呼ばれ服”正解コデ</h3>
          <p class="article-list-user">aaaa</p>
        </div>
      </a>
    </div>

    <div class="article-list-content">
      <a href="/articles/1111">
        <div class="article-list-thumb"><img src="https://image-kinarino.ssl.k-img.com/system/press_eye_catches/000/015/994/f8cf504e97d1e91c50b9eea4f775b9af5a011b73.jpg?1440378378" alt="title"></div>
        <div class="article-list-text">
          <h3 class="article-list-title">マナーを守っておしゃれに祝福！結婚式の“お呼ばれ服”正解コデ</h3>
          <p class="article-list-user">aaaa</p>
        </div>
      </a>
    </div>

    <div class="article-list-content">
      <a href="/articles/1111">
        <div class="article-list-thumb"><img src="https://image-kinarino.ssl.k-img.com/system/press_eye_catches/000/016/056/0634af514145ef8d16143be2d283bf4e4c222dc0.jpg?1440730720" alt="title"></div>
        <div class="article-list-text">
          <h3 class="article-list-title">マナーを守っておしゃれに祝福！結婚式の“お呼ばれ服”正解コデ</h3>
          <p class="article-list-user">aaaa</p>
        </div>
      </a>
    </div>
  </div>

  <ul class="paging">
    <li class="prev"></li>
    <li class="number">1/21</li>
    <li class="next"><a href="#" rel="next">前のページ</a></li>
  </div>

  <div class="content-area article-list">
    <div class="sub-title">人気記事ランキング</div>

    <div class="article-list-content">
      <a href="/articles/1111">
        <div class="article-list-thumb"><img src="https://image-kinarino.ssl.k-img.com/system/press_eye_catches/000/016/056/0634af514145ef8d16143be2d283bf4e4c222dc0.jpg?1440730720" alt="title"></div>
        <div class="article-list-text">
          <h3 class="article-list-title">マナーを守っておしゃれに祝福！結婚式の“お呼ばれ服”正解コデ</h3>
          <p class="article-list-user">aaaa</p>
        </div>
      </a>
    </div>

    <div class="article-list-content">
      <a href="/articles/1111">
        <div class="article-list-thumb"><img src="https://image-kinarino.ssl.k-img.com/system/press_eye_catches/000/015/851/fa6347d8bdef768c4401e381470afd6e40d0ba1b.jpg?1440382721" alt="title"></div>
        <div class="article-list-text">
          <h3 class="article-list-title">マナーを守っておしゃれに祝福！結婚式の“お呼ばれ服”正解コデ</h3>
          <p class="article-list-user">aaaa</p>
        </div>
      </a>
    </div>

    <div class="article-list-content">
      <a href="/articles/1111">
        <div class="article-list-thumb"><img src="https://image-kinarino.ssl.k-img.com/system/press_eye_catches/000/015/994/f8cf504e97d1e91c50b9eea4f775b9af5a011b73.jpg?1440378378" alt="title"></div>
        <div class="article-list-text">
          <h3 class="article-list-title">マナーを守っておしゃれに祝福！結婚式の“お呼ばれ服”正解コデ</h3>
          <p class="article-list-user">aaaa</p>
        </div>
      </a>
    </div>
  </div>

  <div class="content-area">
    <div class="sub-title">人気のキーワード</div>
    <ul class="tag-list">
      <li class="tag"><a href="/tags/11"><i class="fi-price-tag"></i>ダイソー</a></li>
      <li class="tag"><a href="/tags/11"><i class="fi-price-tag"></i>ダイソー</a></li>
      <li class="tag"><a href="/tags/11"><i class="fi-price-tag"></i>ダイソー</a></li>
      <li class="tag"><a href="/tags/11"><i class="fi-price-tag"></i>ダイソー</a></li>
      <li class="tag"><a href="/tags/11"><i class="fi-price-tag"></i>ダイソー</a></li>
      <li class="tag"><a href="/tags/11"><i class="fi-price-tag"></i>ダイソー</a></li>
      <li class="tag"><a href="/tags/11"><i class="fi-price-tag"></i>ダイソー</a></li>
      <li class="tag"><a href="/tags/11"><i class="fi-price-tag"></i>ダイソー</a></li>
      <li class="tag"><a href="/tags/11"><i class="fi-price-tag"></i>ダイソー</a></li>
      <li class="tag"><a href="/tags/11"><i class="fi-price-tag"></i>ダイソー</a></li>
      <li class="tag"><a href="/tags/11"><i class="fi-price-tag"></i>ダイソー</a></li>
      <li class="tag"><a href="/tags/11"><i class="fi-price-tag"></i>ダイソー</a></li>
    </ul>
  </div>

    </div>
  </div>

</div>
