<div id="main-content">
  <div id="top-inner">
    <div class="today"><%= Date.today %></div> 
  </div>

  <div id="content-left">
    <div class="article-list">

      <div class="article-list-content">
        <div class="article-list-thumb"><img src="https://image-kinarino.ssl.k-img.com/system/press_eye_catches/000/016/056/0634af514145ef8d16143be2d283bf4e4c222dc0.jpg?1440730720" alt="title"></div>
        <div class="article-list-text">
          <h3 class="article-list-title"><a href="/articles/11111">マナーを守っておしゃれに祝福！結婚式の“お呼ばれ服”正解コーデ</a></h3>
          <p class="article-list-description">5月と並び、参列するゲストも過ごしやすく晴れにも恵まれ、連休も多いことから、人気のウェディングシーズンと言われる9月。結婚式にお呼ばれした際には、参列する際の服装のマナーにも気をつけたいもの。そこで今回は、結婚式・披露宴に参列する際の服装のマナーと、マナーに沿ったコーディネートをご紹介します！</p>
          <p class="article-list-user"><a href="/users/1111">aaaa</a></a>
        </div>
      </div>
 
      <div class="article-list-content">
        <div class="article-list-thumb"><img src="https://image-kinarino.ssl.k-img.com/system/press_eye_catches/000/015/851/fa6347d8bdef768c4401e381470afd6e40d0ba1b.jpg?1440382721" alt="title"></div>
        <div class="article-list-text">
          <h3 class="article-list-title"><a href="/articles/11111">マナーを守っておしゃれに祝福！結婚式の“お呼ばれ服”正解コーデ</a></h3>
          <p class="article-list-description">5月と並び、参列するゲストも過ごしやすく晴れにも恵まれ、連休も多いことから、人気のウェディングシーズンと言われる9月。結婚式にお呼ばれした際には、参列する際の服装のマナーにも気をつけたいもの。そこで今回は、結婚式・披露宴に参列する際の服装のマナーと、マナーに沿ったコーディネートをご紹介します！</p>
          <p class="article-list-user"><a href="/users/1111">aaaa</a></a>
        </div>
      </div>
 
      <div class="article-list-content">
        <div class="article-list-thumb"><img src="https://image-kinarino.ssl.k-img.com/system/press_eye_catches/000/015/994/f8cf504e97d1e91c50b9eea4f775b9af5a011b73.jpg?1440378378" alt="title"></div>
        <div class="article-list-text">
          <h3 class="article-list-title"><a href="/articles/11111">マナーを守っておしゃれに祝福！結婚式の“お呼ばれ服”正解コーデ</a></h3>
          <p class="article-list-description">5月と並び、参列するゲストも過ごしやすく晴れにも恵まれ、連休も多いことから、人気のウェディングシーズンと言われる9月。結婚式にお呼ばれした際には、参列する際の服装のマナーにも気をつけたいもの。そこで今回は、結婚式・披露宴に参列する際の服装のマナーと、マナーに沿ったコーディネートをご紹介します！</p>
          <p class="article-list-user"><a href="/users/1111">aaaa</a></a>
        </div>
      </div>
  
      <div class="article-list-content">
        <div class="article-list-thumb"><img src="https://image-kinarino.ssl.k-img.com/system/press_eye_catches/000/016/056/0634af514145ef8d16143be2d283bf4e4c222dc0.jpg?1440730720" alt="title"></div>
        <div class="article-list-text">
          <h3 class="article-list-title"><a href="/articles/11111">マナーを守っておしゃれに祝福！結婚式の“お呼ばれ服”正解コーデ</a></h3>
          <p class="article-list-description">5月と並び、参列するゲストも過ごしやすく晴れにも恵まれ、連休も多いことから、人気のウェディングシーズンと言われる9月。結婚式にお呼ばれした際には、参列する際の服装のマナーにも気をつけたいもの。そこで今回は、結婚式・披露宴に参列する際の服装のマナーと、マナーに沿ったコーディネートをご紹介します！</p>
          <p class="article-list-user"><a href="/users/1111">aaaa</a></a>
        </div>
      </div>
      
    </div>
  </div>

  <div id="content-right">
    <div id="sidebar">

      <div class="sidebar-box">
        <div class="sidebar-box-title">
          人気記事ランキング
          <div class="sidebar-box-title-lead">今週の100均人気アイテムのまとめ</div>
        </div>

        <div class="side-article-list">

          <div class="article-list-content">
            <div class="article-list-thumb"><img src="https://image-kinarino.ssl.k-img.com/system/press_eye_catches/000/016/056/0634af514145ef8d16143be2d283bf4e4c222dc0.jpg?1440730720" alt=""></div>
            <div class="article-list-text">
              <h3 class="article-list-title"><a href="/articles/11111">マナーを守っておしゃれに祝福！結婚式の“お呼ばれ服”正解コーデ</a></h3>
              <p class="article-list-user"><a href="/users/1111">aaaa</a></a>
            </div>
          </div>

          <div class="article-list-content">
            <div class="article-list-thumb"><img src="https://image-kinarino.ssl.k-img.com/system/press_eye_catches/000/016/056/0634af514145ef8d16143be2d283bf4e4c222dc0.jpg?1440730720" alt=""></div>
            <div class="article-list-text">
              <h3 class="article-list-title"><a href="/articles/11111">マナーを守っておしゃれに祝福！結婚式の“お呼ばれ服”正解コーデ</a></h3>
              <p class="article-list-user"><a href="/users/1111">aaaa</a></a>
            </div>
          </div>

          <div class="article-list-content">
            <div class="article-list-thumb"><img src="https://image-kinarino.ssl.k-img.com/system/press_eye_catches/000/016/056/0634af514145ef8d16143be2d283bf4e4c222dc0.jpg?1440730720" alt=""></div>
            <div class="article-list-text">
              <h3 class="article-list-title"><a href="/articles/11111">マナーを守っておしゃれに祝福！結婚式の“お呼ばれ服”正解コーデ</a></h3>
              <p class="article-list-user"><a href="/users/1111">aaaa</a></a>
            </div>
          </div>

          <div class="article-list-content">
            <div class="article-list-thumb"><img src="https://image-kinarino.ssl.k-img.com/system/press_eye_catches/000/016/056/0634af514145ef8d16143be2d283bf4e4c222dc0.jpg?1440730720" alt=""></div>
            <div class="article-list-text">
              <h3 class="article-list-title"><a href="/articles/11111">マナーを守っておしゃれに祝福！結婚式の“お呼ばれ服”正解コーデ</a></h3>
              <p class="article-list-user"><a href="/users/1111">aaaa</a></a>
            </div>
          </div>

        </div>

      </div><!-- /sidebar-box -->

      <div class="sidebar-box">
        <div class="sidebar-box-title">
          人気のキーワード
          <div class="sidebar-box-title-lead">100ショップに関連するキーワード</div>
        </div>

        <ul class="side-tag-list">
          <li class="tag"><a href="/tags/11"><i class="fi-price-tag"></i>ダイソー</a></li>
          <li class="tag"><a href="/tags/11"><i class="fi-price-tag"></i>ダイソー</a></li>
          <li class="tag"><a href="/tags/11"><i class="fi-price-tag"></i>ダイソー</a></li>
          <li class="tag"><a href="/tags/11"><i class="fi-price-tag"></i>ダイソー</a></li>
          <li class="tag"><a href="/tags/11"><i class="fi-price-tag"></i>ダイソー</a></li>
          <li class="tag"><a href="/tags/11"><i class="fi-price-tag"></i>ダイソー</a></li>
          <li class="tag"><a href="/tags/11"><i class="fi-price-tag"></i>ダイソー</a></li>
          <li class="tag"><a href="/tags/11"><i class="fi-price-tag"></i>ダイソー</a></li>
          <li class="tag"><a href="/tags/11"><i class="fi-price-tag"></i>ダイソー</a></li>
          <li class="tag"><a href="/tags/11"><i class="fi-price-tag"></i>ダイソー</a></li>
          <li class="tag"><a href="/tags/11"><i class="fi-price-tag"></i>ダイソー</a></li>
          <li class="tag"><a href="/tags/11"><i class="fi-price-tag"></i>ダイソー</a></li>
        </ul>

      </div>

    </div>
  </div>

</div>
