////////////////////////////////////////////////////
// colors scss
////////////////////////////////////////////////////

$common-point: #f68341;
$common-point-thin: #ffcdaf;

$bg-gray: #eee;

$font-default: #333;
$font-thin: #666;
$font-gray: #999;

$border-default: #eee;
$border-dotted: #ccc;

