////////////////////////////////////////////////////
// layout scss
////////////////////////////////////////////////////

@import 'mixins';
@import 'colors';

#header {
  position: relative;
  border-bottom: 1px solid $border-default;
  height: 70px;

  .search {
    border: 1px solid $border-default;  
    position: absolute;
    padding: 5px;
    width: 166px;  
    top: 20px;
    left: 0;

    .search-keyword  {  
        border: 0;  
        width: 146px;
    }  
  
    .fi-magnifying-glass {
      float: right;
      color: $font-gray;
      cursor: pointer;
    }
  
    &:after {
      @include after-clear;
    }
  }

  .logo {
    position: absolute;
    top: 5px;
    left: 435px;

    a {
      color: $font-default;
      font-size: 28px;
      font-weight: bold;
      margin-top: 35px;

      img {
        width: 130px;
      }
    }

    &:hover {
      text-decoration: none;
      color: $font-gray;
    }
  }

  ul {
    position: absolute;
    top: 0;
    right: 0px;


    .header-login, .header-signup {
      float: left;
      height: 70px;
      border-left: 1px solid $border-default;

      .fi-torso, .fi-plus {
        font-size: 16px;
      }

      a {
        font-size: 12px;
        color: $font-gray;
        width: 108px;
        height: 50px;
        padding: 15px 0px 5px 0;
        text-align: center;
        display: inline-block;
        text-decoration: none;
        
        &:hover {
          background: $bg-gray;
        }
      }

    }

    &:after {
      @include after-clear;
    }
  }

  &:after {
    @include after-clear;
  }
}

